// @media (min-width: 1600px){
// .container {
//     max-width: 1540px;
// }
// }
/* 超小设备（手机，小于 768px） */
/* Bootstrap 中默认情况下没有媒体查询 */

/* 小型设备（平板电脑，768px 起） */
/* @media (min-width: @screen-sm-min) { }

/* 中型设备（台式电脑，992px 起） */
/* @media (min-width: @screen-md-min) {  } */

/* 大型设备（大台式电脑，1200px 起） */
/* @media (min-width: @screen-lg-min) {  } */ 

/* reset */
body, dl, dt, dd, ul, ol, li, pre, form, fieldset, input, p, blockquote, th, td {
    margin:0;
    padding:0;
    font-weight: normal;
    
    }
h1, h2, h3, h4, h4, h5 {
    margin:0;
    padding:0;
    font-weight: normal;
    }
body {
    background:#fcfcfc;
    font-family:Arial,PingFangSC-Regular,'Microsoft YaHei',sans-serif;
    text-align:left;
    }
ol, ul {
      list-style-image:none;
      list-style-position:outside;
      list-style-type:none;
      }
a,a:hover{
    text-decoration: none;
    color:#000;
    }
img{
  margin:0;
  padding:0;
  font-size:0;
  }
.left{
    float:left;
  }
.right{
    float:right;
  }
.cf:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.cf{zoom:1}
.pf{
    font-family: PingFangSC-Regular, sans-serif;
}
//public
.navbar{
    padding:0;
    z-index:99;
}
.navbar-toggler{
    width:30px;
    height:34px;
    border:none;
    background:url(../img/nav.png)no-repeat center;
    position: fixed;
    right: 40px;
    top: 30px;
}
.navbar-collapse{
    display:none;
 padding-top:250px;
 position: fixed;
 top:0px;
 left:0;
 width:100%;
 height:100%;
 margin:0 auto;
 font-size: 32px;
 background:rgba(252, 252, 252, 0.6);
 z-index:3;
}
.close{
    position: absolute;
    top:30px;
    right:40px;
    opacity:1;
}
.navbar-nav li{
    padding-bottom:66px;
    padding-left:40px;
    
}
.navbar-nav li a{
    color:#555555;
    font-weight: bold;
    font-size: 48px;
}
.navbar-nav li a.active,.navbar-nav li a:hover{
    color:#000000;
}
.navbar-nav span{
    display:block;
    // font-size: 18px;
    font-size: 24px;
    font-weight: normal;
}
.container{
    margin:0 40px;
    margin-top:100px;
    .logo{
        width:100%;
        text-align: center;
        img{
            width:100%;
            margin:280px auto 60px;
        }
    }
    h1{
        line-height:70px;
        font-weight:bold;
        margin-bottom:50px;
        font-size: 60px;
        
    }
}
.return{
    position: fixed;
    bottom:30px;
    right:0;
    a{
        display:block;
    }
}
.footer{
    width:80%;
    margin:0 auto;
    text-align: right;
}
.work{ 
    overflow: hidden;
    ul li{
        width:50%;
        float: left;
        a{
            display:block;
            img{
                width:95%;
                display:block;
                margin:0 auto;
            }       
        }
        h6{
            font-size: 30px;
            margin:0;
            line-height:30px;
            margin: 20px 0 40px;
            font-weight: normal;
            background:url(../img/go.png)no-repeat;
            background-position: 95% 50%;
            padding-left: 10px;
        }
        p{
            color:#555555;
        }
    }
    ol{
        text-align: center;
        width:120%;
        margin-bottom:50px;
        li{
            font-size: 30px;
            text-align: center;
            padding:0  30px 20px;
            color:#999999;
           
        }
        li.active{
            color:#000;
            background:url(../img/tab_bg.png)no-repeat bottom;
            // -webkit-background:url(../img/tab_bg.jpg)no-repeat bottom;
        }
    }
}
.about{
    .us{
        p{
            font-size: 30px;
            padding-top:30px;
            color:#555;
            padding-left:30px;
        }
        p.em{
            padding-top:36px;
            padding-bottom:32px;
            color:#000;
            font-weight: 600;
            padding-left:74px;
        }
        margin-bottom:50px;
        background:#f6f6f6;
        box-shadow: 2px 2px 30px #f3f3f3;
    }
  .des{
    h2{
        font-size: 36px;
        font-weight: 600;
        text-align: center;
        line-height:60px;
    }
    .en{
        margin-bottom:20px;
    }
    p{
        // text-indent: 2em;
        line-height:62px;
        // letter-spacing: 2px;
        letter-spacing: 3px;
        font-size: 30px;
        color:#555555;
        text-align: justify;
        //text-align-last:justify;
        // padding:50px 0;
        word-break: normal; 
        text-justify: inter-ideograph;/*IE*/
        font-weight: 600;
    }
    h3{
        // text-indent:58px;
        margin:30px 0 20px;
        color:#000000;
        font-size:36px;
    }
    .a{
        a{
            margin:0 24px;
        }
        p{
            text-indent: -1px;
        }
    }
  }
}
.client{
    ul li{
        width:50%;
        text-align: center;
        float: left;
        overflow: hidden;
        margin-bottom:12px;
        img{
            width:96%;
            margin:0 auto;
        }
    }
}
.contact{
    // width:94%;
    .contact1{
        width:100%;
        img{
            width:100%;
        }
    }
    .map{
        position: relative;
        p{
            height:50px;
            padding: 0 20px 0 62px;
            line-height:50px;
            font-size: 28px;
            background: #fff url(../img/maps.png)no-repeat ;
            background-position: 4% 50%;
            background-size: 7%;
            position: absolute;
            top: 199px;
            left: 194px;        
            color:#000;   
        }
    }
    .us{
        width: 70%;
        height: 164px;
        padding: 28px 0 20px 28px;
        background: #6fa7ec;
        z-index: 1;
        color: #fff;
        position: absolute;
        right: 22px;
        top: 580px;
        h3{
            font-size: 36px;
            margin-bottom:20px;
        }
        p{
            font-size: 30px;
            line-height:24px;
        }
        .pn{
            padding-left:40px;
            background:url(../img/pn.png)no-repeat left;
            background-size: 5%;
            margin-bottom:30px;
        }
        .em{
            padding-left:40px;
            background:url(../img/em.png)no-repeat left;
            background-size: 5%;
        }
    }
    .company{
        h4{
            font-size:36px; 
            margin-bottom:40px;
        }
        p{
            font-size: 30px;
            margin-bottom:20px;
        }
    }
    form{
        margin-top:56px;
        input::-webkit-input-placeholder,input:-moz-placeholder,input::-moz-placeholder,input:-ms-input-placeholder{
            font-weight: 200;
            color:#c7c7c7}
        .email,.user{
            border:1px solid #000;
            color:#000;   
            width:43%;
            height:100px;
            font-size: 26px;
            padding-left:20px;  
            display:inline-block;
            // flex-direction: column;
            // resize: auto;
            // cursor: text;
            // white-space: pre-wrap;
            // overflow-wrap: break-word;
            // text-rendering: auto;
            // letter-spacing: normal;
            // word-spacing: normal;
            // text-transform: none;
            // text-indent: 0px;
            // text-shadow: none;
            // display: inline-block;
            // text-align: start;
            // margin: 0em;
            // font: 400 13.3333px Arial;
    -webkit-writing-mode: horizontal-tb !important;
    
        }
        .email{
            // background:#f4f4f4 url(../img/email.png)no-repeat ;      
            background-position: 90% 50%;
            background-size: 8%;
            font-family:Arial,PingFangSC-Regular,'Microsoft YaHei',sans-serif;
        }
        .user{
            //background:#f4f4f4 url(../img/user.png)no-repeat ;
            background-position: 90% 50%;
            float: right;
            background-size: 8%;
            font-family:PingFangSC-Regular,'Microsoft YaHei',sans-serif;
            margin-right: 1px;
        }
        textarea{
            border:1px solid #000;
            width:96%;
            height:110px;
            font-size: 26px;
            display:block;
            //background:#f4f4f4 url(../img/text.png)no-repeat ;
            background-size: 4%;
            background-position: 96% 14%;
            margin-top:22px;
            padding:10px 4px 10px 20px; 
            color:#000;
            -webkit-input-placeholder{
                color:#c7c7c7;
                font: 200 14px ;
            }
            font-family:PingFangSC-Regular,'Microsoft YaHei',sans-serif;
        } 
        button{
            background:#000000;
            border:none;
            width:100%;
            height:80px;
            line-height:40px;
            text-align: center;
            color:#edf4fd;
            display:block;
            margin:40px 0 96px;
            font-size: 30px;
            float:right;
        }
        
    }
    
}
.mapp{
    width:100%;
    img{
        width:100%;
    }
}
.workm{
    width:100%;
    overflow: hidden;
    text-align: center;
    img{
        width:90%;
    }
    h2{
        line-height: 80px;
        padding:0 20px;
        margin:52px 0 0 0;
        font-size: 48px;
    }
    p{
        font-size: 30px;
        color:#6b6b6b;
        font-weight: 100;
        padding:0 20px;
        text-indent: 2em;
    }
    p.tit{
        font-size: 36px;
        color:#000;
    margin-bottom:44px;
    text-indent:0;
    margin-top:20px;
    }
    .simg{
        margin:35px 0;
    }
}
.bottom{
    font-size: 25px;
    padding: 36px;
    background: #000 url(../img/work/mid.png) no-repeat center;
    margin-top: 60px;
    font-weight: bold;
    .prev{
        color:#ffff;
        padding-left:50px;
        background:url(../img/work/left.png)no-repeat left;
        letter-spacing:4px;
    }
    .next{
        color:#ffff;
        padding-right:50px;
        background:url(../img/work/right.png)no-repeat right;
        letter-spacing:4px;
    }
}
.joinn .a{
    text-align: center;

}
.joinn .a a{
    display:inline-block;  
}
.joinn .a .boss,.joinn .a .weixin{
    width:300px;
    height:80px;
    border:1px solid #000;
    font-size: 30px;
    line-height:80px;
    display:inline-block;
    color:#fff;
   background:#000;
}
.joinn .a .boss:hover,.joinn .a .weixin:hover{
   
}
.joinn{
        h2{
            font-size: 36px;
            font-weight: 800;
        }
        h3{
            font-size: 36px;
            padding-top:50px;
            font-weight: 600;
        }
        p{
            font-size: 30px;
            color:#555555;
            line-height:60px;
            margin-top:10px;
            padding-bottom:50px;
           
            border-bottom:1px solid #e2e2e2;
        }
        .a{
            p{
                border:none;
                margin-top:0;
            }
            h2{
                margin:50px 0;
                font-weight: 600;
            }
            .weixin{
                margin-bottom:60px;
            }
        }
    }
.login-panel{
    width:100%;
    height:100%;
    position:fixed;
    background:rgba(252,252,252,0.8);
}
.elastic-layer{
    background:rgba(252,252,252,0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index:1000;
}
.close1{
    display: none;
}
.blur{
    filter:blur(2px);
    -webkit-filter:blur(2px);
}

.noscroll{
    height: 100%;
    overflow: hidden;
}